# Spotify API Configuration
# Get these from: https://developer.spotify.com/dashboard
REACT_APP_SPOTIFY_CLIENT_ID=58f4b62047254b3985ba4fbe0decaf08
REACT_APP_SPOTIFY_CLIENT_SECRET=09cc5520c304435d83e501173f1f2490
REACT_APP_REDIRECT_URI=https://localhost:3000

# Genius API Configuration
# Get this from: https://genius.com/api-clients
REACT_APP_GENIUS_ACCESS_TOKEN=your_genius_access_token
